.current__books-app {
    display: flex;
}

.current__books-app.loading {
    display: flex;
    height: 100vh;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    background: linear-gradient(to left, #18225a 0%, #0f1547 100%);
}

.title {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
    color: white;
    height: 300px;
    position: sticky;
    top: 0;
}

.current-date {
    font-size: 20px;
    font-weight: normal;
    padding-top: 30px;
}

.book-card {
    max-width: 300px;
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;;
}

.book-card.full {
    min-width: 600px;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;;
}
.book-info-full {
    width: 200px;
}

.book-img {
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-info {
    width: 200px;
    text-align: center;
}

.book-title {
    min-height: 60px;
    padding-top: 15px;
    margin-bottom: 20px;
}
.book-title-full{
    min-height: 60px;
    margin-bottom: 20px;
    background: #0b0d4c;
    color: white;
    font-size: 20px;
    padding: 15px 0 15px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px
}
.book-author {
    min-height: 50px;
    margin-bottom: 20px;
}

p.book-desc {
    min-height: 150px;
    margin-bottom: 15px;
}

.book__buy-now {
    font-weight: bold;
    margin-bottom: 10px;
}
.weeks-on-list{
    margin-bottom: 15px;
}
img {
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.img-full{
    width: 260px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.default__app-btn {
    background-color: #171f66;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    outline: none;
    cursor: pointer;
}

.default__app-btn:hover {
    background-color: #0e1444;
    transition: 0.3s;
}

/*.........................Modal.....................................*/
.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 20px;
    margin-top: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(12, 23, 94);
}


input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*....................Dark theme..............................*/
.header.dark{
    background: linear-gradient(to left, #131a45 0%, #13163e 100%);
}
.current__books-app.dark {
    background: linear-gradient(to top, #404040 0%, #18191a 100%);
}
.book-card.dark{
    background-color: rgb(24,25,26);
    color: white;
}
.default__app-btn.dark{
    background: #13163e ;
}
.default__app-btn.dark:hover{
    background: #20277b;
}
.book-title-full.dark{
    background: #13163e ;
}
.book-card.full.dark{
    color: white;
}
.modal__content.dark{
    background-color: rgb(24,25,26);
}